.btn {
    font-size: 25pt;
    width: 75px;
    height: 50px;
    background: #640000;
    color: #ffffff;
    cursor: pointer;
    margin: 3px;
    padding: 5px 20px 5px 20px;
}

.visor {
    font-size: 25pt;
    width: 320px;
    height: 50px;
    background: #000064;
    color: #ffffff;
    margin: 3px;
    padding: 5px;

}