body {
    width: 500px;
    position: relative;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,.5);
    background-color: #e5e5e5;
}

.btn {
    font-size: 24pt;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    margin: 3px;
    padding: 2px 25px 2px 25px;
}