.body {
    display: block;
    width: 500px;
    position: absolute;
    margin: 20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    background-color: #A02B2D;
    /* padding: 20;*/

}

.btn {
    font-size: 24pt;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    margin: 3px;
    padding: 2px 25px 2px 25px;
}